h1 {
    margin-top: 5%;
    color: red;
    font-family: 'tohama';
    font-weight: bold;

}

body {
    background-image: url("./image/sfondo.jpg");
}

.card {
    width: 18rem;
    margin-top: 10%;
    margin-left: 15%;
}

.btn-danger {
    height: 100%;
    width: 40%;
    margin-left: 20%
}